<header id="masthead" class="site-header" role="banner">
    <div class="site-header-wrapper">
        <div class="site-title-wrapper">
        </div>
        <div class="hero">
            <div class="hero-inner">
            </div>
        </div>
    </div>
</header>
<div class="main-navigation-container">
    <div class="menu-toggle" id="menu-toggle" role="button" tabindex="0">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <nav id="site-navigation" class="main-navigation">
        <div class="menu">
            <ul>
                <li class="page_item"><a href="/index.html">Home</a></li>
                <li class="page_item"><a href="/posts.html">Posts</a></li>
                <li class="page_item"><a href="/projects.html">Projects</a></li>
                <li class="page_item"><a href="/media.html">Media</a></li>
                <li class="page_item"><a href="/presentations.html">Presentations</a></li>
                <li class="page_item"><a href="/bio.html">Bio</a></li>
                <li class="page_item"><a href="/contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>