${include page_top}
                    <div class="entry-meta">
                        <a href="/jbp/index.html">Return to Java Best Practices home</a>
                    </div>
                    <div class="entry-content">
                        ${content}
                    </div>
                    <div class="entry-meta">
                        <a href="/jbp/index.html">Return to Java Best Practices home</a>
                    </div>
                </article>
            </main>
        </div>
    </div>
${include footer}