${include header}
<body class="page">
    ${include hero}
    <div id="content" class="site-content container-fluid px-2">
        <div id="primary" class="">
            <main id="main" class="site-main" role="main">
                <article class="hentry">
                    <header class="entry-header">
                        <div class="entry-header-row">
                            <div class="entry-header-column">
                                <h1 class="entry-title">${title}</h1>
                            </div>
                        </div>
                    </header>
                    <div class="entry-content">
                        ${content}
                    </div>
                </article>
            </main>
        </div>
    </div>
${include footer}