${include header}
<body class="page">
    ${include hero}
    <div id="content" class="site-content container-fluid px-2">
        <div id="primary" class="">
            <main id="main" class="site-main" role="main">
                <article class="hentry">
                    <header class="entry-header">
                        <div class="entry-header-row">
                            <div class="entry-header-column">
                                <h1 class="entry-title">${title}</h1>
                            </div>
                        </div>
                    </header>
                    <div class="entry-meta">
                        <span class="posted-date">Posted on ${date}</span><a href="https://github.com/JonathanGiles/jonathangiles.net/blob/master/src/main/resources/www/${path}/index.xml">Edit Post</a>
                    </div>
                    <div class="entry-content">
                        ${content}
                    </div>
                </article>

                <div id="comments" class="comments-area">
                    <h2 class="comments-title">Thoughts on <span>&ldquo;${title}&rdquo;</span> </h2>

                    <script src="https://utteranc.es/client.js"
                            repo="jonathangiles/jonathangiles.net-comments"
                            issue-term="${relativePath}/index"
                            theme="github-light"
                            crossorigin="anonymous"
                            async>
                    </script>
                </div>

            </main>
        </div>
    </div>
${include footer}