<div id="secondary" class="widget-area" role="complementary">
    <aside class="widget widget_text">
        <h4 class="widget-title">About</h4>
        <div class="textwidget">
            <p>
                <img class="aligncenter size-medium" src="/images/awards-square.png" alt="Java Champion, Dukes Choice Award Winner, JavaOne Rockstar" />
            </p>
        <p class="about-text">My name is Jonathan Giles. I am a Principal Java Architect at Microsoft.</p>
        <p class="about-text">Previously, I was a technical lead in the JavaFX team at Sun Microsystems and Oracle Corp for nine years, where I led the development of the JavaFX UI controls library, and other related libraries. With my considerable contributions to Java releases 7 through 11, I take immense pride in having my code deployed on almost every computer on the planet.</p>
        <p class="about-text">I am passionate about creating excellent developer experiences with considered API design, documentation, testing, and tooling. I have toured the world extensively to <a href="java-api-design-best-practices.html">present and write</a> on these topics, and as a result I am a Java Champion, JavaOne Rockstar, and a Duke’s Choice award-winner.</p>
        <p class="about-text">I am always looking for new opportunities to work with great teams on exciting projects. <a href="mailto:jonathan@jonathangiles.net">Get in touch with me</a>!</p>
    </div>
    </aside>
</div>